name: Deploy Portfolio

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source 
        uses: actions/checkout@v4
      - name: Setup Node 
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Install Dependencies
        run: npm install
      - name: Build Project 
        run: npm run build
      # - name: Upload Artifacts after configuration 
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          name: "github-pages"
          path: dist
      - name: Deploy to Github Pages  
        uses: actions/deploy-pages@v4
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}
          artifact_name: 'github-pages'